<nav class="nav collapsible">
  <a class="nav__brand" href="/"
    ><img src="images/logo.svg" alt="Site Logo"
  /></a>

  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">This</a></li>
    <li class="nav__item"><a href="#">Is</a></li>
    <li class="nav__item"><a href="#">The</a></li>
    <li class="nav__item"><a href="#">Navbar</a></li>
  </ul>
</nav>
