<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="Some dude" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et
        vitae consequatur distinctio ipsum? Optio aliquid odio beatae sapiente
        officiis!
      </p>
      <footer class="quote__name">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Oscar Wild</h3>
            <p class="quote__description">Some dude who thinks he knows shit</p>
          </div>
        </div>
      </footer>
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et
        vitae consequatur distinctio ipsum? Optio aliquid odio beatae sapiente
        officiis!
      </p>
      <footer class="quote__name">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Tojo Burgers</h3>
            <p class="quote__description">
              This is the name I use for Uber Eats
            </p>
          </div>
        </div>
      </footer>
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et
        vitae consequatur distinctio ipsum? Optio aliquid odio beatae sapiente
        officiis!
      </p>
      <footer class="quote__name">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Ryan Seakrest</h3>
            <p class="quote__description">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
